extend layout

block content
	.panel.panel-default
		.panel-heading
			h2.panel-title Hot Lunch Admin

		.panel-body
			ul.list-group
				li.list-group-item
					a(href='/admin/confirm-orders') Confirm Orders
				li.list-group-item
					a(href='/admin/order-for-vendors') Purchase Orders

