extend layout

block content
	.panel.panel-default
		.panel-heading
			h2.panel-title Hot Lunch Admin
		dl.dl-horizontal.panel-body
			dt Order Counts:
			dd #{order_cnt}
			dt Family Counts:
			dd #{family_cnt} (confirmed:
				b: u #{confirmed_cnt}
				| )

		.panel-body
			ul.list-group
				li.list-group-item
					a(href='/admin/confirm-orders') Confirm Orders
				li.list-group-item
					a(href='/admin/order-for-vendors') Purchase Orders

