doctype html

html
  body
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='css/style.css')

    #container.container

    script(src='//code.jquery.com/jquery-2.1.1.min.js')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')

    script(src='//cdn.ractivejs.org/latest/ractive.js')
    script(src='//cdn.jsdelivr.net/ractive.events-tap/latest/ractive-events-tap.min.js')
    script(src='//cdn.jsdelivr.net/ractive.transitions-fade/latest/ractive-transitions-fade.min.js')
    script(src='//cdn.jsdelivr.net/ractive.transitions-slide/latest/ractive-transitions-slide.min.js')

    script(src='js/data.js')

    script#template(type='template/txt')
      include template

    script(src='js/main.js')
