doctype html

html
  header
    meta(http-equiv='”X-UA-Compatible”', content='”IE=edge”')
    meta(name='”viewport”', content='”width=device-width,', initial-scale='1″')
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/style.css')
    script(src='js/html5shiv.js')
    script(src='js/respond.min.js')

  body
    #container.container

    script(src='//code.jquery.com/jquery-1.11.2.min.js')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')

    script(src='//cdn.ractivejs.org/latest/ractive-legacy.js')
    script(src='//cdn.jsdelivr.net/ractive.events-tap/latest/ractive-events-tap.min.js')
    script(src='//cdn.jsdelivr.net/ractive.transitions-fade/latest/ractive-transitions-fade.min.js')
    script(src='//cdn.jsdelivr.net/ractive.transitions-slide/latest/ractive-transitions-slide.min.js')
    script(src='//cdn.jsdelivr.net/ractive.transitions-fly/latest/ractive-transitions-fly.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/1.4.14/jquery.scrollTo.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.61.0-2013.06.06/jquery.blockUI.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js')


    script(src='js/data.js')
    script(src='js/classes.js')

    script#template(type='template/txt')
      include template

    script(src='js/main.js')
