mixin ___(exp)
  |#{ exp }
  block
  |#{ exp.replace(/[#^]/, '/') }

+___('[[^ submitted ]]')
  .row
    .col-sm-6
      h2.title Hot Lunch Order
    .col-sm-6.text-right
      input.form-control(type='text', value='[[pin_code]]', placeholder='Enter PIN')
      button.btn.btn-primary(on-click='add_child') Add a Child
  hr

  +___('[[#orders]]')
    div(intro-outro='fade')
      form.form
        fieldset
          .row
            .col-sm-4
              label(for='teacher-select') Class
              select#teacher-select.form-control(required='', value='[[teacher]]')
                option(selected='', disabled='') Specify the teacher of the class
                +___('[[# GRADES ]]')
                  option [[.]]
            .col-sm-4
              label(for='parent-name-box') Your name
              input.form-control#parent-name-box(type='text', required='', value='[[parent_name]]')
            .col-sm-4
              label(for='child-name-box') Your child's name
              input.form-control#child-name-box(type='text', required='', value='[[child_name]]')
      +___('[[#cals]]')
        table#order.form.table.table.table-bordered(outro='fade')
          thead
            tr
              th(colspan='7') [[month]]
          tbody
            tr
              td(align='center') Sun
              td(align='center') Mon
              td(align='center') Tue
              td(align='center') Wed
              td(align='center') Thu
              td(align='center') Fri
              td(align='center') Sat
            +___('[[# cal ]]')
              tr
                +___('[[# this ]]')
                  td.date-cell(align='center')
                    |[[ daynum ]]
                    +___('[[# menu[date] ]]')
                      hr
                      |[[desc]]
                      table.table.table-striped
                        +___('[[# options:id ]]')
                          tr
                            td
                              label(for='[[id]]') [[ option ]]
                            td.cost
                              label $[[ cost ]]
                                input.form-control(required='', id='[[id]]', type='radio', name='[[selection[date]]]', value='[[id]]', data-date='[[dateString(date)]]', data-cost='[[cost]]', data-option='[[meal_type]]:[[option]]')
      button.btn.btn-primary(style='margin:0 0 100px 80%', on-tap='submit') Submit

+___('[[# submitted ]]')
  img.barcode(src='http://www.barcodesinc.com/generator/image.php?code=[[order_id()]]&style=197&type=C128B&width=200&height=50&xres=1&font=3')
  h2 Order# [[order_id()]] for student ID [[student_id]] of teacher [[teacher]] class [[klass]]
  ul.notice
    li Please print out this order, stapled with a cheque of $[[total()]], write down your contact info and hand them to your child&apos;s teacher.
    li If you want to modify your order, click &apos;Again&apos; button below and enter your order # [[order_id()]].
  table.table.table-striped(intro='fade')
    +___('[[# selection:date ]]')
      tr
        td [[ dateString(date) ]]
        td [[ get_options(date, this).option ]]
        td $[[ get_options(date, this).cost ]]
    tr
      td(colspan='2') Total
      td $[[total()]]
  button.btn.btn-primary(style='margin:0 0 100px 80%', on-tap='again') again
