mixin ___(exp)
  |!{ exp }
  block
  |!{ exp.replace(/[#^]/, '/') }


// Login screen
+___('[[^ submitted ]]')
  +___('[[^ loggedin ]]')
    h1 Hot Lunch Order

    p Please type in the PIN code found in the notice brought home by your children.
    p: b If you receive multiple PIN codes, pick one and discard the others.

    +___('[[# pin_error ]]')
      .alert.alert-warning(intro-outro='fade')
        | Invalid pin code. Please try again or use another one.

    form.form-inline(class="[[loggedin?'has-success':'']]")
      .form-group(class="[[pin_error?'has-error':'']]")
        input.form-control(type='text', value='[[pin_code]]', placeholder='Enter PIN', disabled='[[loggedin]]')

  +___('[[# loggedin ]]')
    nav.navbar.navbar-inverse.navbar-fixed-top(intro-outro='fade')
      .container-fluid
        .navbar-header
          p.navbar-text PIN: [[ pin_code ]]
        .collapse.navbar-collapse
          ul.nav.navbar-nav
            +___('[[# orders:order_idx ]]')
              li.active
                a(on-tap='set("active_order_idx", order_idx)', href='#') [[ child_name || 'New Order' ]]
            +___('[[# can_submit ]]')
              li
                a(on-tap='add_child()', href='#') 
                  i.glyphicon.glyphicon-plus
                  |  Add a child
              li(intro-outro='fade')
                a(href='#', on-tap='submit()') Submit
          +___('[[# orders.grand_total ]]')
            p#grand-total.navbar-text.navbar-right(intro-outro='fade') Total $[[ orders.grand_total ]]

// Confirmation screen
+___('[[# submitted ]]')
  h2 Hot Lunch Order Total $[[ orders.grand_total ]]

  .alert.alert-success Thank you for supporting our Hot Lunch Program!

  ul.list-group
    li.list-group-item Please return the notice (the one with the PIN), with either cash or cheque to your child's teacher.
    li.list-group-item If you're ordering for multiple children, return the package to the teacher of your eldest kid's.
    li.list-group-item If you prefer to pay by cheque, pLease make sure:
      ul
        li Address to 'Parkview Publich School'.
        li Put your child's name on the memo field of the cheque.


// Order taking screen 
#order-taking-form
  +___('[[# !submitted && orders.length > 0 ]]')
    #calendar
      +___('[[#cals]]')
        table.form.form-inline.table.table.table-bordered(outro='fade')
          thead.small
            tr
              th(colspan='7') [[month]]
          tbody
            tr.small
              td(align='center') Sun
              td(align='center') Mon
              td(align='center') Tue
              td(align='center') Wed
              td(align='center') Thu
              td(align='center') Fri
              td(align='center') Sat
            +___('[[# cal ]]')
              tr
                +___('[[# this ]]')
                  td.date-cell(id!='[[ agenda?"day-"+agenda.idx:"" ]]')
                    div [[ daynum ]]
                      +___('[[# agenda ]]')
                        img(src='/images/[[meal_type.toUpperCase()]].gif')




    +___('[[# orders.length > 0 ]]')
      .row
        #order-forms.col-sm-6.form-inline
          +___('[[# orders:order_idx ]]')
            +___('[[# order_idx === active_order_idx ]]')
              div(intro-outro='fade')
                .well
                  .form-group(class="[[ this.child_name.length?'':'has-error' ]]")
                    input.form-control#child-name-box(type='text', value='[[this.child_name]]', placeholder="Your child's name")
                  .form-group
                    select#teacher-select.form-control(value='[[this.teacher]]')
                      option(selected='', disabled='') Class
                      +___('[[# CLASSES ]]')
                        option [[.]]

                +___('[[# child_name && teacher ]]')
                  +___('[[# menu:day_idx ]]')
                    table.table.table-hover(on-mouseover="hilite_cal(day_idx)", on-mouseout="lolite_cal(day_idx)")
                      thead
                        tr
                          th(colspan=2) [[ date ]] [[ meal_type.toUpperCase() ]]
                          th.text-right
                            +___('[[# totals[order_idx][day_idx] ]]')
                              span(intro-outro='fade') $[[ totals[order_idx][day_idx] ]]
                      tbody
                        +___('[[# options:option_idx ]]')
                          tr(class!='[[ orders[order_idx].by_days[day_idx][option_idx] ? "bg-success":"" ]]')
                            +___('[[# meal_type === "PIZZA" ]]')
                              td.col-sm-11.option-cell(colspan=2) [[ option ]]
                            +___('[[# meal_type !== "PIZZA" ]]')
                              td.col-sm-1 $[[ cost ]]
                              td.col-sm-10.option-cell [[ option ]]
                            td.col-sm-1
                              select.form-control(value='[[ orders[order_idx].by_days[day_idx][option_idx] ]]')
                                +___('[[# [0,1,2,3,4,5] ]]')
                                  option [[ . ]]



