body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin:auto
}

.container {
  //padding-left: 0!important;
}

h2 {
  border-bottom: 1px solid #e5e5e5;
  padding: 0 0 10px 0;
  font-size: 18px
  margin-top: 50px;
}

label {width: 100%; display:inline-block; cursor: pointer;}

.notice {
  background: #1f8dd6;
  padding: 0.3em 1em;
  border-radius: 3px;
  color: #fff;
}

.date-cell {height:30px; font-size:9px}

.date-cell .agenda {
  font-size: 12px;
}

.cost {width: 8px; white-space: nowrap;}

a {
  color: #00B7FF;
}

th, td {
  max-width: 300px;
  vertical-align: top;
}

td select {
  margin-right: 5px;
}

#order-summary {
  width: 450px;
}

#order-summary.affix {
  top: 10px;
}

.order-calendars.blank {
  min-height: 900px;
}

.calendar {
  margin-left: 500px;
}

#total-cost {
  margin-top: 5px;
}

.panel {
  padding: 5px;
  overflow: scroll;
}

.bg-danger {
  transition: opacity 5s ease-in-out;

}

