body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

button {
  margin: 0 15px;
}

h2.title {
  border-bottom: 0;
  margin-top: 10px;
}

.text-right {
  text-align: right;
}
